body, html{
    height: 100%;
    display: grid;
    color: white;
    background-color: gray;
}

#results{
    text-align: right;
    font-size: 200%;
    padding: 10px;
}

table{
    width: 100%;
    height: 100%;
}

td{
    text-align: center;
    font-size: 200%;
}

td:hover{ 
    font-weight: bold;
}

td:active{
    border: 5px solid gray;
}

.resultsPane{
    height: 25%;
    width: 100%;
    background-color: #262F3D;
    border: 1px solid white;
}

.container{
    overflow: hidden;
}

.numberSection{
    height: 75%;
    width: 75%;
}

.number{
    height: 25%;
    width: 33%;
}

.operatorSection{
    height: 75%;
    width: 25%;
}

.lightBlue{
    background-color: #459FC5;
}

.darkBlue{
    background-color: #262F3D
}

.floatLeft{
    float: left;
}

#mainDiv{
    height: 500px;
    width: 350px;
    margin: auto;
}